{{>partial_header}}

from setuptools import setup, find_packages  # noqa: H301

NAME = "{{{projectName}}}"
VERSION = "{{packageVersion}}"
PYTHON_REQUIRES = ">=3.10" 
LICENSE = "{{#licenseInfo}}{{.}}{{/licenseInfo}}{{^licenseInfo}}Apache License 2.0{{/licenseInfo}}"

# Read requirements
with open("requirements.txt") as f:
    REQUIRES = f.read().splitlines()

# Read README
with open("README.md", "r", encoding="utf-8") as f:
    LONG_DESCRIPTION = f.read()

setup(
    name=NAME,
    version=VERSION,
    description="{{packageTitle}}",
    long_description=LONG_DESCRIPTION,
    long_description_content_type='text/markdown',
    author="{{infoName}}{{^infoName}}OpenAPI Generator community{{/infoName}}",
    author_email="{{infoEmail}}{{^infoEmail}}team@openapitools.org{{/infoEmail}}",
    url="{{packageUrl}}",
    project_urls={
        "Bug Tracker": "{{#packageUrl}}{{.}}/issues{{/packageUrl}}",
        "Source Code": "{{packageUrl}}"
    },
    python_requires=PYTHON_REQUIRES,
    install_requires=REQUIRES,
    packages=find_packages(exclude=["test", "tests"]),
    include_package_data=True,
    package_data={"{{{packageName}}}": ["py.typed"]},
    license=LICENSE,
    classifiers=[
        "Development Status :: 4 - Beta",
        "Intended Audience :: Developers",
        "License :: OSI Approved :: Apache Software License",
        "Operating System :: OS Independent",
        "Platform :: OS Independent",
        "Programming Language :: Python :: 3",
        "Programming Language :: Python :: 3.10",
        "Programming Language :: Python :: 3.11",
        "Programming Language :: Python :: 3.12",
        "Programming Language :: Python :: 3.13",
        "Topic :: Software Development :: Libraries :: Python Modules",
        "Typing :: Typed"
    ],
    keywords=[
        "{{packageName}}",
        "OpenAPI",
        "{{#keywords}}{{.}},{{/keywords}}"
    ],
    zip_safe=False
)
